{% extends 'MassAPIBundle:Home:layout.html.twig' %}

{% block title %}MassAPI • Home{% endblock %}

{% block container %}
    <div class="container">
        <h1>Trouver une messe</h1>
        {{ form(searchForm) }}
    </div>
{% endblock %}
